<section class="abt-01">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading-wrapper">
                    @if (string.IsNullOrEmpty(SubSubRouteName))
                    {
                        <h3>@SubRouteName</h3>
                    }
                    else

                    {
                        <h3>@SubSubRouteName</h3>

                    }
                    <ol>
                        @if (string.IsNullOrEmpty(SubSubRouteName))
                        {
                            <li style="cursor:pointer;" @onclick='()=>Nv.NavigateTo($"{BaseRouteUrl}")'>@BaseRouteName<i class="far fa-angle-double-right"></i></li>
                            <li>@SubRouteName</li>
                        }else{
                            <li style="cursor:pointer;" @onclick='()=>Nv.NavigateTo($"{BaseRouteUrl}")'>@BaseRouteName<i class="far fa-angle-double-right"></i></li>
                            <li style="cursor:pointer;" @onclick='()=>Nv.NavigateTo($"{SubRouteUrl}")'>@SubRouteName<i class="far fa-angle-double-right"></i></li>
                            <li>@SubSubRouteName</li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
@code {
    [Parameter]
    public string? BaseRouteName { get; set; }
    [Parameter]
    public string? BaseRouteUrl { get; set; }
    [Parameter]
    public string? SubRouteName { get; set; }
    [Parameter]
    public string? SubRouteUrl { get; set; }
    [Parameter]
    public string? SubSubRouteName { get; set; }
}
