@page "/Profile"
<PageTitle>الصفحة الشخصيه</PageTitle>
@using System.Globalization;
<Header />
<style>
    .cardp {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        border: 1px solid rgba(0, 0, 0, .05);
        border-radius: .375rem;
        background-color: #fff;
        background-clip: border-box;
    }

        .cardp > hr {
            margin-right: 0;
            margin-left: 0;
        }

    .cardp-body {
        padding: 1.5rem;
        flex: 1 1 auto;
    }

    .cardp-header {
        margin-bottom: 0;
        padding: 1.25rem 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        background-color: #fff;
    }

        .cardp-header:first-child {
            border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
        }
</style>
<main class="charity-01-main" style="margin-top:102px;" dir="rtl">
    <!-- ======== Profile started ========= -->
    <section class="services-01 my-0 py-0 ">
        <div class="container-fluid px-0  bg-">
            <!-- ======== profile started ========= -->
            <div class="row shadow bg-light">
                <div class="mb-3 mb-md-4 col-12 position-relative" style="height:23vh; background-image:url('assets/images/cover.jpg');background-position:center;background-size:cover;background-repeat:no-repeat;">
                    <img class="img-thumbnail rounded-circle position-absolute " style="right:10%; top:55%; height:130px; width:130px;" src="@_app.AccountData.Image_Url" />
                    
                </div>
                <div class="col-12 py-4 py-md-1 px-md-5 px-1 mt-1">
                    <div class="row p-3 px-md-5  mt-md-0 mt-2">
                        <div class="col-md-4 col-12   pe-md-5 pe-4">
                            <h4 class="text-end">
                               @(_app.AccountData.First_Name +" "+_app.AccountData.Last_Name)
                            </h4>
                        </div>
                        <div class="col-md-8  col-12 my-md-0 mt-4 ">
                            <div class="row justify-content-start pe-1">
                                <div class="col-md-5 col-6 col-lg-3 text-end me-md-auto">
                                    <button @onclick='()=>Nv.NavigateTo("/addPost")' class="w-100 bg-primary shadow border-0 p-2 rounded text-white">
                                        <i class="fal fa-plus-circle ms-1"></i>
                                        أضف منشور
                                    </button>
                                </div>
                                <div class="col-md-5 col-6 col-lg-3 ">
                                    <button class="w-100 bg-secondary shadow border-0 p-2 px-1 rounded text-white">
                                        <i class="fal fa-edit ms-1"></i>
                                        تعديل البيانات 
                                        
                                    </button>
                                </div>
                               
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- ======== scrollbar started ========= -->
            <div class="d-flex flex-row bg-light my-2 shadow px-2 justify-content-md-center align-content-center py-3  scrollarea" style=" width:100%;height:70px;overflow-x:scroll;">
                <span @onclick='()=>{activesection = "Posts";GetPosts($"api/Post/GetUserPosts?UserId={_app.UserAuthData.User_Id}",false);}' class="btn  ms-1 text-white text-center d-inline-block  rounded-pill h-100" style=" background:#fd1b5b;">
                    <i class="fal fa-list-alt ps-1"></i>
                    المنشورات
                </span>
                <span @onclick='()=>{activesection = "Saved";GetPosts($"api/Favorite/GetUserFaviortePosts?UserId={_app.UserAuthData.User_Id}",false);}' class="btn  mx-1  text-white text-center d-inline-block   rounded-pill h-100" style="background:#fd1b5b;">
                    <i class="fal fa-star ps-1"></i>
                    المنشورات المفضلة
                </span>
                <span @onclick='()=>{activesection = "Stared";GetPosts($"api/Post/GetUserSpecialPosts?UserId={_app.UserAuthData.User_Id}",false);}' class="btn  mx-1 text-white text-center d-inline-block   rounded-pill h-100" style="background:#fd1b5b;">
                    <i class="fal fa-stars ps-1"></i>
                    المنشورات المميزة
                </span>
                <span @onclick='()=>activesection = "PersonalData"' class="btn   mx-1 text-white text-center d-inline-block   rounded-pill h-100" style="background:#fd1b5b;">
                    <i class="fal fa-user-edit ps-1"></i>
                    البيانات الشخصيه
                </span>
            </div>
            <!-- ======== body started ========= -->
            <div class="row mt-2 shadow bg-light  px-3 ">
                <div class="col-12 bg-light">
                    <section class="bg-03 pt-4">
                        <div class="container">
                           
                            @switch (activesection)
                            {
                                case "Posts" :
                                    <div class="row justify-content-center align-items-center">
                                        @if (ShowData)
                                        {
                                            @foreach (var post in postsList?.Data)
                                            {
                                                <div class="p-0 mx-1" style="max-width:300px;">
                                                    <PostComponent postData="post" />
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_GlZGOi.json" speed="1" style="width:270px; height:270px;" loop autoplay>
                                            </lottie-player>
                                            <h5 class="text-center">
                                                لا يوجد  منشورات سابقه
                                            </h5>
                                        }
                                    </div>
                                    break;
                                case "Saved":
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            @if (ShowData)
                                            {
                                                @foreach (var post in postsList?.Data)
                                                {
                                                    <div class="p-0 mx-1" style="max-width:300px;">
                                                        <PostComponent postData="post" />
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_GlZGOi.json" speed="1" style="width:270px; height:270px;" loop autoplay>
                                                </lottie-player>
                                                <h5 class="text-center">
                                                    لا يوجد  منشورات محفوظة
                                                </h5>
                                            }
                                        </div>
                                    </div>
                                    break;
                                case "Stared":
                                    <div class="row justify-content-center align-items-center">
                                        <div class="row justify-content-center align-items-center">
                                            @if (ShowData)
                                            {
                                                @foreach (var post in postsList?.Data)
                                                {
                                                    <div class="p-0 mx-1" style="max-width:300px;">
                                                        <PostComponent postData="post" />
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_GlZGOi.json" speed="1" style="width:270px; height:270px;" loop autoplay>
                                                </lottie-player>
                                                <h5 class="text-center">
                                                    لا يوجد  منشورات مميزة
                                                </h5>
                                            }
                                        </div>
                                    </div>
                                    break;
                                case "PersonalData":
                                    <!-- Page content -->
                                    <div class="container-fluid p-0">
                                      <div class="row p-0">
                                        <div class="col-xl-12 border-0 order-xl-1">
                                          <div class="cardp border-0 bg-white shadow">
                                            <div class="cardp-header bg-white border-0">
                                              <div class="row align-items-center">
                                                <div class="col-12 text-center p-3 ">
                                                  <h3 class="mb-0">بيانات الحساب</h3>
                                                </div>
                                              </div>
                                              <hr class="my-4">
                                            </div>
                                            <div class="cardp-body">
                                              <form>
                                                <div class="pl-lg-4">
                                                  <div class="row text-end">
                                                    <div class="col-lg-6">
                                                      <div class="form-group focused ">
                                                        <label class="form-control-label" for="input-username">الاسم</label>
                                                        <input type="text" id="input-username" readonly class="form-control form-control-alternative" placeholder="Username" value="@(_app.AccountData.First_Name + " " + _app.AccountData.Last_Name)">
                                                      </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                      <div class="form-group">
                                                        <label class="form-control-label" for="input-email">البريد الالكتروني</label>
                                                        <input type="email" id="input-email" readonly class="form-control form-control-alternative" placeholder="" value="@(_app.UserAuthData.Email)">
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="row text-end">
                                                    <div class="col-lg-6">
                                                      <div class="form-group focused">
                                                        <label class="form-control-label" for="input-first-name">رقم الهاتف</label>
                                                        <input type="text" id="input-first-name" readonly class="form-control form-control-alternative"  value="@(_app.UserAuthData.Phone_Number)">
                                                      </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                      <div class="form-group focused">
                                                        <label class="form-control-label" for="input-last-name">تاريخ الانضمام</label>
                                                        <input type="text" id="input-last-name" readonly class="form-control form-control-alternative"  value="@(_app.AccountData.Date_Of_Join.Value.ToString("MMMM dd, yyyy",new CultureInfo("AR-EG")))">
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <hr class="my-4">
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    break;
                                default:
                                    <NotFoundPage Message="لا يوجد بيانات" ImgUrl="assets/images/noting.jpg" />
                                    break;
                            }
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </section>
</main>
@code {
    public string? activesection { get; set; } = "Posts";
    PostResponse? postsList = new PostResponse();
    private bool ShowData = false;
    private async Task GetPosts(string url,bool load)
    {
        if (load)
        {
            _app.Loading = true;
            _app.NotifyStateChanged();
            await Task.Delay(2000);
        }
        try
        {
            postsList = await Http.GetFromJsonAsync<PostResponse>(url);
            if (postsList?.Code == "200")
            {
                if (postsList?.Data?.Count > 0)
                {
                    ShowData = true;
                    await InvokeAsync(StateHasChanged);
                }
                else
                {
                    ShowData = false;
                    await InvokeAsync(StateHasChanged);

                }
            }
            else
            {
                ShowData = false;
                await InvokeAsync(StateHasChanged);

            }
        }
        catch (Exception ex)
        {


        }
        if (load)
        {
            _app.Loading = false;
            _app.NotifyStateChanged();
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           await  GetPosts($"api/Post/GetUserPosts?UserId={_app.UserAuthData.User_Id}",true);
        }
    }
}
